language: php

php:
  - 5.3
  - 5.4
  - 5.5
  - 5.6

env:
  - SYMFONY_VERSION=2.4.*
  - SYMFONY_VERSION=2.5.*

script:
  - composer self-update
  - composer require symfony/framework-bundle:${SYMFONY_VERSION} -n --prefer-source
  - ./bin/phpspec run -f pretty
  - ./bin/phpunit -v

notifications:
  irc: "irc.freenode.org#fsi-open"   
