language: php

cache:
    directories:
        - $HOME/.composer/cache
        - vendor

matrix:
    include:
        - php: 7.4
          env:
              - COMPOSER_FLAGS='--prefer-lowest'
        - php: 8.0

before_install:
    - phpenv config-rm xdebug.ini
    - composer validate
    - COMPOSER_MEMORY_LIMIT=-1 composer update $COMPOSER_FLAGS

script:
    - vendor/bin/phpcs
    - vendor/bin/phpstan analyze -c phpstan.neon
    - vendor/bin/phpspec run -f pretty
    - vendor/bin/phpunit -v
