parameters:
    bootstrapFiles:
        - Tests/bootstrap.php
    level: 1
    paths:
        - .
    excludePaths:
        - DependencyInjection/Configuration.php
        - Request/*
        - Tests/Form/Type/FSi/FormTypeTest.php
        - spec
        - vendor
